

    <%= erb :head %>

    <div id='camera' class="">
      <div id='placeholder'>
        <p>Your browser does not support a camera!</p>
      </div>
    </div>
    <p>
      <button id='compare_image' class="btn ladda-button" data-style="expand-right" data-size="l" data-spinner-color="#da9505">
        <span class="ladda-label">Valider</span>
      </button>
    </p>
    <div id='upload_status'></div>
    <div id='upload_result'></div>
    <img height='100' id='loading_img' src='images/loading.gif' width='100'>
    <audio id='audio_speech' src='#'></audio>
    <%= erb :footer %>
