    
    <br>
    <br>
    <script src='js/jquery-3.3.1.min.js'></script>
    <script src="js/moment.min.js"></script>
    <script src="js/moment.locale.fr.js"></script>
    <script src="js/jpeg_camera/jpeg_camera_with_dependencies.min.js" type="text/javascript"></script>
    <script src="js/sweetalert.min.js" type="text/javascript"></script>
    <script src="js/spin.min.js" type="text/javascript"></script>
    <script src="js/ladda.min.js" type="text/javascript"></script>
    <script src="js/jquery.facedetection.min.js" type="text/javascript"></script>
    <script src="js/faceapp.js" type="text/javascript"></script>
  </body>
</html>
