<html>
  <head>
    <title>Face Recognition Test</title>
    <link href="css/ladda-themeless.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/faceapp.less" rel="stylesheet/less" type="text/css"/>
    <script src="js/less.min.js" type="text/javascript"></script>
  </head>
  <body>
    <section class="header">
      <div class="faceapp-logo">
        <img src="images/seme-city-logo.svg" class="left-logo">
        <img src="images/benin-revele-logo.svg" class="right-logo">
      </div>

      <h1>Identification visuelle</h1>
    </section>
