
    <%= erb :head %>
    <span class="center">=================</span>
    <h3>
    	<b>Accès et tentatives d'accès</b> : 
    	<span>Images, dates et heures</span>
    </h3>  
    <hr>
    <span class="fr_base_folder"><%= settings.root %></span>
    <ul class="log_list">
	    <% Dir.glob(settings.root + "/public/log/*").each do |file|  %>
	    	
    		<li class="log_item">
    			<a href="<%= 'log/' + File.basename(file) %>">
    				<img src="<%= 'log/' + File.basename(file) %>" alt=''>
    				<span><%= File.basename(file, File.extname(file)) %></span>
    			</a>
    			<br>
    		</li>

    	<% end %>
    </ul>
    <hr>
    <%= erb :footer %>