
    <%= erb :head %>

    <div id='camera'>
      <div id='placeholder'>
        <p>Your browser does not support a camera!</p>
      </div>
    </div>
    <br>
    <br>
    <input id='photo_id' placeholder='Enter name for photo' type='text'>
    <button id='add_to_collection'>Add To Collection</button>
    <br>
    <br>
    <div id='upload_status'></div>
    <div id='upload_result'></div>
    <br>
    <br>
    <img height='100' id='loading_img' src='images/loading.gif' width='100'>
    <audio id='audio_speech' src='#'></audio>
    <br>
    <br>

    <a href="/collection/create">Create Collection</a> | <a href="/collection/delete">Delete Collection</a>
    </p>
    
    <%= erb :footer %>
