@inputSize : 50px;
@black : #000;
@grey: #ddd;
@mi_grey: #eee;
@fontMont: 'Montserrat';
@lightFont: 100;
@arrondir: 5px;

html * {
  font-family: @fontMont, "Helvetica Neueu", "Arial", sans!important;
  font-weight: @lightFont!important;
  outline: none!important;
}

body {
  background-color: @mi_grey;
  padding: 0; /*0.5em*/
  margin: 0;
  text-align: center;
  min-height: 100vh;

  .swal-button {
    background-color: transparent;
    color: @black;
    border: 1px solid @black;
  }

  .fr_base_folder {
    display: none;
  }

  .log_list {
    padding: 0;
    float: left;
  }

  .log_item {
    list-style-type:none;
    float: left;
    width: 32%;
    margin: 0 .65% 1em;

    a {
      text-decoration: none;

      img {
        max-width: 100%;
        float: left;
      }

      span {
        margin-top: 1em;
        display: inline-block;
      }

    }

  }

}

input {
  width: 300px;
  height: @inputSize;
}

#add_to_collection {
  height: @inputSize;
}

#camera {
  display: inline-block;
  background-color: @grey;
  width: 250px;
  height: 300px;
  margin: 0.5em;
  position: relative;

  .placeholder {
    padding: 0.5em;
  }

  .face {
    position: absolute;
    border: 2px solid #FFF;
    z-index: 1000;
  }
}

#compare_image {
  border-radius: @arrondir;
  margin: 1em 0.5em .5em .5em;
  min-width: 150px;
  width: 30%;
  height: @inputSize;
  font-size: 2em;
  letter-spacing: 1px;
  color: #004c99;
}

/*==========================*/
/*==========================*/

section.header {
    float: left;
    width: 100%;

  .faceapp-logo {
    background-color: #ffffff;
    display: block;
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2em;

    img {
      width: 3em;
      height: auto;
      margin: 0.5em 2em;

      &.left-logo {
        float: left;
      }

      &.right-logo {
        float: right;
      }
    }
  }

  h1 {
    clear: both;
    font-size: 2em;
  }

}


#camera.scanning::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 30px;
  background-image: linear-gradient(to bottom,
    rgba(170, 184, 190, 0),
    rgba(170, 184, 190, .8));
  animation: scanning 1s linear infinite;
  //animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
  top: 0;
  left: 0;
  z-index: 100;
}


@keyframes scanning {
  0%, 100% { transform: translateY(135%); }
  50% { transform: translateY(0%); }
  75% { transform: translateY(272%); }
}